<div class="row">
    <div class="form-group col-md-4">
      <label for="inputState">Patient</label>
      <!-- <select id="inputState" [(ngModel)]="selectedpatientId" (change)="onPatientSelect();" class="form-control"> -->
       
      <select id="inputState"  (change)="onPatientSelect();" class="form-control">
        <option selected>Choose...</option>
        <option *ngFor="let patient of listPatient" [value]="patient.id">{{patient.fName}} {{patient.lName}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Symptom</label>
      <!-- <input type="text" [(ngModel)]="symptom" class="form-control" id="inputZip"> -->
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="form-group col-md-6" style="padding-top: 2em;">
      <div *ngIf="selectedPatient" style="float: right;">
        <label><strong>Patient </strong>| {{selectedPatient}}</label>
        <div>
          <ul>
            <li *ngFor="let sym of listSymptomOfSelectedPatient">{{sym}}</li>
          </ul>
        </div>
        
        </div>
    </div>
   
  </div>
  <div style="padding-top: 3em;">
    <!-- <input type="button" (click)="saveSymptom(false);" class="btn btn-primary" value="Save & Continue">|
    <input type="button" [routerLink]="['/laborder',selectedpatientId]" class="btn btn-primary" value="Save & exit"> -->
  
  </div>
  <!-- <app-footer></app-footer> -->